<div class="control-group">
  <label for="spent" class="control-label">spent</label>
  <div class="controls">
    <%- contentTag('input', entry.spent, {type:'number', class:'span2', name:'spent'}) %>
  </div>
</div>


