<div class="control-group">
  <label for="pivotalId" class="control-label">pivotalId</label>
  <div class="controls">
    <%- contentTag('input', story.pivotalId, {type:'text', class:'span6', name:'pivotalId'}) %>
  </div>
</div>
<div class="control-group">
  <label for="points" class="control-label">points</label>
  <div class="controls">
    <%- contentTag('input', story.points, {type:'text', class:'span6', name:'points'}) %>
  </div>
</div>
<div class="control-group">
  <label for="points" class="control-label">work</label>
  <div class="controls">
    <%- contentTag('input', story.work, {type:'text', class:'span6', name:'work'}) %>
 </div>
